body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button {
    background: #4a6ee0;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.task-item {
    background: #fafafa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* PRIORITY */
.priority {
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.priority.tinggi {
    background: red;
}

.priority.sedang {
    background: orange;
}

.priority.rendah {
    background: green;
}

/* EMPTY STATE */
.empty-state {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-style: italic;
    display: none;
}